<table class="table">
    <thead>
        <tr>
            <th>Título</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    <% @ensayos.each do |e| %>
        <tr>
            <td><%= e.titulo %></td>
            <td><%= link_to 'editar', edit_ensayo_path(e) %></td>
        </tr>
    <% end %>
    </tbody>
</table>
