<section class="hero has-background-dark is-fullheight-with-navbar" id="fotos">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-1 has-text-white">Fotos <%= @encuentro.version %></h1>
    </div>
  </div>
</section>
