<section class="hero has-background-dark is-fullheight-with-navbar" id="coordinador">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-1 has-text-white">Coordinador</h1>
      <div class="columns is-multiline is-mobile is-centered">
        <div class="column is-6">
          <div class="card" style="height:100%">
            <div class="card-image">
              <% if @encuentro.coordinador.foto.attached? %>
              <figure class="image is-square">
                  <%= image_tag @encuentro.coordinador.foto.variant(
                    combine_options: {
                      thumbnail: '400x400^',
                      gravity: 'north',
                      extent: '400x400'
                    }
                  ), class: 'is-square' %>
              </figure>
              <% end %>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4"><%= @encuentro.coordinador.nombre %></p>
                </div>
              </div>
              <div class="content has-text-left">
                <%= simple_format(truncate(@encuentro.coordinador.bio, length: 400, separator: '')) %>
                <p><%= link_to 'Ver más' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
