<section
  class="hero has-background-dark is-fullheight-with-navbar"
  id="organizadores"
>
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title has-text-white">Organizadores</h1>
    </div>
  </div>
</section>
