<section class="hero has-background-dark is-fullheight-with-navbar" id="fotos-charlas">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-1 has-text-white">Fotos Charlas 2017</h1>
      <div class="columns is-multiline is-mobile is-gapless">
        <% @encuentro.fotos_charlas.each do |f|%>
        <div class="column is-3">
          <div class="card" style="height:100%">
            <div class="card-image">
              <figure class="image is-square">
                <%= image_tag f.variant(combine_options: {
                  thumbnail: '200x200^',
                  gravity: 'north',
                  extent: '200x200'
                }), class: 'is-square', data: { jslghtbx: url_for(f), jslghtbx_group: 'fotos-charlas' }  %>
              </figure>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
