<section
  class="hero is-fullheight-with-navbar video"
  id="inicio"
>
  <div class="hero-video">
    <video poster="" id="bgvid" playsinline autoplay muted loop>
      <source src="Ensamble.mp4" type="video/webm" />
    </video>
  </div>

  <div class="hero-head">
    <div class="columns is-multiline is-mobile is-centered is-marginless">
      <div class="column is-flex is-centered">
        <figure class="image">
          <img src="logos/logo_ministerio.png" alt="" />
        </figure>
        <figure class="image">
          <img src="logos/logo_conservatorio.png" alt="" />
        </figure>
        <figure class="image">
          <img src="logos/logo_facultad.png" alt="" />
        </figure>
      </div>
    </div>
  </div>

  <div class="hero-body">
    <div class="container has-text-centered">
      <header>
        <h1 class="subtitle is-2 has-text-white">
          <%= @encuentro.epigrafe %>
        </h1>
        <h1 class="title is-1 has-text-white">
          <%= @encuentro.titulo %>
        </h1>
        <h2 class="subtitle is-3 has-text-white">
          <%= @encuentro.bajada %>
        </h2>
      </header>
    </div>
  </div>
</section>
