<nav
  class="navbar is-fixed-bottom is-dark"
  role="navigation"
  aria-label="main navigation"
>
  <div class="navbar-menu">
    <div class="navbar-start">
      <a href="#inicio" class="navbar-item is-tab is-active">Inicio</a>
      <a href="#organizadores" class="navbar-item is-tab">Organizadores</a>
      <a href="#actividades" class="navbar-item is-tab">Actividades</a>
      <a href="#social" class="navbar-item is-tab">Social</a>
      <a href="#ubicacion" class="navbar-item is-tab">Ubicación</a>
    </div>
  </div>
</nav>
