<nav
  class="navbar is-fixed-bottom is-dark"
  role="navigation"
  aria-label="main navigation"
>
  <div class="navbar-menu">
    <div class="navbar-start">
      <a href="#inicio" class="navbar-item is-tab is-active" data-turbolinks="false">Inicio</a>
      <a href="#quienes-somos" class="navbar-item is-tab" data-turbolinks="false">Quienes Somos</a>
      <a href="#exponentes" class="navbar-item is-tab" data-turbolinks="false">Exponentes</a>
      <a href="#charlas" class="navbar-item is-tab" data-turbolinks="false">Charlas</a>
      <a href="#conciertos" class="navbar-item is-tab" data-turbolinks="false">Conciertos</a>
      <a href="#ensayos" class="navbar-item is-tab" data-turbolinks="false">Ensayos</a>
      <a href="#fotos" class="navbar-item is-tab" data-turbolinks="false">Fotos</a>
      <a href="#videos" class="navbar-item is-tab" data-turbolinks="false">Videos</a>
      <a href="#prensa" class="navbar-item is-tab" data-turbolinks="false">Prensa</a>
    </div>
  </div>
</nav>
