<nav
  class="navbar is-fixed-bottom is-dark"
  role="navigation"
  aria-label="main navigation"
>
  <div class="navbar-menu">
    <div class="navbar-start">
      <a href="#inicio" class="navbar-item is-tab is-active" data-turbolinks="false">Inicio</a>
      <a href="#charlas" class="navbar-item is-tab" data-turbolinks="false">Charlas</a>
      <a href="#exponentes" class="navbar-item is-tab" data-turbolinks="false">Exponentes</a>
      <a href="#fotos-charlas" class="navbar-item is-tab" data-turbolinks="false">Fotos Charlas</a>
      <a href="#fotos-ensayos" class="navbar-item is-tab" data-turbolinks="false">Fotos Ensayos</a>
      <a href="#conciertos" class="navbar-item is-tab" data-turbolinks="false">Conciertos</a>
      <a href="#fotos-conciertos" class="navbar-item is-tab" data-turbolinks="false">Fotos Conciertos</a>
      <a href="#coordinador" class="navbar-item is-tab" data-turbolinks="false">Coordinador</a>
    </div>
  </div>
</nav>
