<section class="hero dodecagono">
  <div class="hero-body">
    <figure style="position: relative; height: 500px; overflow: hidden;">
      <%= image_tag asset_path("dodecagono_web.svg"), class: "parallax-#{center}" %>
    </figure>
  </div>
</section>