<section class="galeria videos hero is-fullheight-with-navbar" id="videos">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-1">Videos
        <%= @encuentro.version %></h1>
    </div>
  </div>
</section>