<% if flash[:notice] %>
<div class="notification is-success"><%= flash[:notice] %></div>
<% end %>

<table class="table">
    <thead>
        <tr>
            <th>Año</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    <% @encuentros.each do |e| %>
        <tr>
            <td><%= e.version %></td>
            <td>
              <%= link_to 'editar', edit_encuentro_path(e) %>
              <%= link_to 'eliminar', encuentro_path(e), method: :delete, data: { confirm: '¿Está seguro?'} %>
            </td>
        </tr>
    <% end %>
    </tbody>
</table>
